@import "_colors.scss";

body {

    //Layout
    header {
        background: $bgcolor;

        a, input {
            color: white;
        }

        input {            
            background-color: transparent;
            border: 1px solid transparent;
            width: auto;
        }
    }

    footer {
        background: $bgcolor;
        color: white;
    }
    
    //
    .btn-cat{
        background: $bgcolor;
        color: white;
        width: 30%;
        margin: 1% 0;
    }


    //
    .editDiv {
        position: relative;

        a {
            position: absolute;
            bottom: 0;
        }
    }

    .confirmDeleteDiv {
        margin-left: 30px;
    }

    .deleteDiv {
        margin-left: 90px;
    }

    .hide {
        display: none;
    }


    //
    .thumbsUpInput {
        opacity: 0;
        position: absolute;
        left: -9999px;
    }

    .thumbsUpLabel {
        cursor: pointer;
        width: 20px;
    }

    .isThumbsUp {
        filter: invert(20%) sepia(99%) saturate(6442%) hue-rotate(121deg) brightness(100%) contrast(103%);
    }
}
