@import "_colors.scss";

body {
    //Layout
    header {
        background: $bgcolor;

        a, input {
            color: white;
        }

        a:hover {
            color: white;
        }

        input {
            background-color: transparent;
            border: 1px solid transparent;
            width: auto;
        }
    }

    footer {
        background: $bgcolor;
        color: white;
    }
    //
    .btn-primary, .btn-cat {
        background: $bgcolor;

        &:hover {
            background: hsl(144, 88%, 35%);
        }
    }

    .btn-cat {
        color: white;
        width: 30%;
        margin: 1% 0;
    }

    .btn-danger:hover {
        background: hsl(354, 90%, 68%);
    }
    //
    .editDiv {
        position: relative;

        a {
            position: absolute;
            bottom: 0;
        }
    }

    .confirmDeleteDiv {
        /*margin-left: 30px;*/
        position: relative;
        left: 50px;
    }

    .deleteDiv {
        margin-left: 90px;
    }

    .hide {
        display: none;
    }
    //
    .thumbsUpInput {
        opacity: 0;
        position: absolute;
        left: -9999px;
    }

    .thumbsUpLabel {
        cursor: pointer;
        width: 20px;
    }

    .isThumbsUp {
        filter: invert(20%) sepia(99%) saturate(6442%) hue-rotate(121deg) brightness(100%) contrast(103%);
    }
}
