body header {
  background: #087835; }
  body header a, body header input {
    color: white; }
  body header a:hover {
    color: white; }
  body header input {
    background-color: transparent;
    border: 1px solid transparent;
    width: auto; }

body footer {
  background: #087835;
  color: white; }

body .btn-primary, body .btn-cat {
  background: #087835; }
  body .btn-primary:hover, body .btn-cat:hover {
    background: #0ba84a; }

body .btn-cat {
  color: white;
  width: 30%;
  margin: 1% 0; }

body .btn-danger:hover {
  background: #f76473; }

body .editDiv {
  position: relative; }
  body .editDiv a {
    position: absolute;
    bottom: 0; }

body .confirmDeleteDiv {
  /*margin-left: 30px;*/
  position: relative;
  left: 50px; }

body .deleteDiv {
  margin-left: 90px; }

body .hide {
  display: none; }

body .thumbsUpInput {
  opacity: 0;
  position: absolute;
  left: -9999px; }

body .thumbsUpLabel {
  cursor: pointer;
  width: 20px; }

body .isThumbsUp {
  filter: invert(20%) sepia(99%) saturate(6442%) hue-rotate(121deg) brightness(100%) contrast(103%); }
