body .results {
  background-color: #087835;
  width: 40%;
  height: 50px;
  margin: 5%; }
  body .results a {
    margin-bottom: 3%;
    color: white;
    font-size: 1.5rem; }
    body .results a:focus {
      box-shadow: none; }

@media screen and (max-width: 770px) {
  body .results {
    width: 100%; } }
