@inject SignInManager<ApplicationUser> signInManager;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.IsInRole("Super Admin"))
{
    @Html.ActionLink("Admin Register", "AdminRegister", "Admin")

    <br />
    <br />

    @Html.ActionLink("Role", "ListRoles", "Admin")

    <br />
    <br />
}

@Html.ActionLink("Users", "ListUsers", "Admin")