
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@Html.ActionLink("Admin Register", "AdminRegister", "Admin")

<br />
<br />

@Html.ActionLink("Login", "Login", "Admin")

<br />
<br />

@Html.ActionLink("Role", "ListRoles", "Admin")

