
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="d-flex flex-column admin-cat">
    @if (User.IsInRole("Super Admin"))
    {
        <a asp-action="AdminRegister" class="btn btn-cat">Opret Admin</a>

        <a asp-action="ListRoles" class="btn btn-cat">Administrer roller</a>
    }

    <a asp-action="UserRegister" class="btn btn-cat">Opret bruger</a>

    <a asp-action="ListUsers" class="btn btn-cat">Administrer Admin/Brugere</a>

    <a asp-controller="ActivitySuggestions" asp-action="Index" class="btn btn-cat">Inspiration til aktivtet</a>

    <a asp-controller="FoodSuggestions" asp-action="Index" class="btn btn-cat">Inspiration til frokost</a>

    <a asp-area="" asp-controller="Home" asp-action="Result" class="btn btn-cat">Resultat</a>

    <a asp-controller="AdminActivities" asp-action="Index" class="btn btn-cat">Social Aktivitet</a>

    <a asp-controller="AdminFoods" asp-action="Index" class="btn btn-cat">Fredagens ret</a>
</div>
