
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<a asp-action="AdminRegister">AdminRegister</a>

<br />
<br />

<a asp-action="ListUsers">ListUsers</a>

<br />
<br />

<a asp-action="ListRoles">ListRoles</a>