
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<a asp-action="AdminRegister">Opret Admin</a>

<br />
<br />

<a asp-action="UserRegister">Opret bruger</a>

<br />
<br />

<a asp-action="ListUsers">ListUsers</a>

<br />
<br />

<a asp-action="ListRoles">ListRoles</a>

<br />
<br />

<a asp-controller="ActivitySuggestions" asp-action="Index">Inspiration til activtet</a>

<br />
<br />

<a asp-controller="FoodSuggestions" asp-action="Index">Inspiration til frokost</a>
