@{
    ViewData["Title"] = "Home Page";
}

<a asp-area="User" asp-controller="Activities" asp-action="Index">Social Activtet</a>

<br />
<br />

<a asp-area="User" asp-controller="Foods" asp-action="Index">Fredagens ret</a>

<br />
<br />

<a asp-controller="Home" asp-action="Result">Result</a>


