@using AspIT_Voting.Web.Other
@{
    ViewData["Title"] = "Home Page";
}

@*<br />
<br />
<br />
<br />*@

<h1 class="text-center">Velkommen til Afstemning AspIT Nordjylland</h1>

@{
    var date = new Date();

    DateTime date1 = new DateTime(2019, 12, 10, 9, 0, 0);
    DayOfWeek dayOfWeek = date1.DayOfWeek;  

    if (date.DateRange(DayOfWeek.Monday, DayOfWeek.Thursday))
    {
        <div class="row text-center justify-content-center container-cat">
            <a class="btn btn-cat mr-3" asp-area="User" asp-controller="Activities" asp-action="Index">Social aktivitet</a>
            <a class="btn btn-cat ml-3" asp-area="User" asp-controller="Foods" asp-action="Index">Fredagens ret</a>
        </div>
    }
    else
    {
        <div class="text-center">
            <a class="btn btn-cat ml-3" asp-controller="Home" asp-action="Result">Resultat</a>
        </div>
    }
}

<br />

<div class="text-center">
    <p id="countdown"></p>
</div>

@section scripts{
    <script src="~/js/countdown.js"></script>
}