@model CreateActivityViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a asp-action="Index">Tilbage</a>
</div>

<h1>Opret</h1>

<h4>Aktivitet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <input asp-for="ActivityName" class="form-control" autocomplete="off"/>
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <select asp-for="ActivityName" asp-items="@Model.ActivitySuggestionsList" class="form-control">
                    <option value="" hidden disabled selected>Vælg Aktivitet</option>
                </select>
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opret" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage</a>
</div>

